/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(5, 5, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 350px;
}

/* Container centralizado */
.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.icon {
    font-size: 30px;
    margin-right: 10px;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    color: black;
}

/* Cartão de ação */
.card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.card span {
    font-size: 32px;
    color: #333;
}

.card p {
    margin-top: 10px;
    font-size: 20px;
    color: #666;
}

.card button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover {
    background-color: #0056b3;
}

/* Container de entrada */
.input-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.input-container input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.input-container button {
    padding: 10px 20px;
    background-color: #02106c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input-container button:hover {
    background-color: black;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #0401b9;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background: #444;
}

.content {
    margin-left: 270px; /* Espaço para a sidebar */
    padding: 20px;
}
